{{ '{{- range $node := $.AllNodes}}' }}
{{ '{{- $host := split "." $node.Id }}' }}
{% for item in ww4_sshkeys %}
{{ '{{$node.Id}} {{ Include ' }}"{{ ww4_sshkeys_dir }}/{{ item }}.pub" {{ '}}' }}
{{ '{{$host._0}} {{ Include ' }}"{{ ww4_sshkeys_dir }}/{{ item }}.pub" {{ '}}' }}
{% endfor %}
{{ '{{- range $devname, $netdev := $node.NetDevs}}' }}
{{ '{{- if $netdev.Ipaddr}}' }}
{% for item in ww4_sshkeys %}
{{ '{{$netdev.Ipaddr}} {{ Include ' }}"{{ ww4_sshkeys_dir }}/{{ item }}.pub" {{ '}}' }}
{% endfor %}
{{ '{{- end}}' }}
{{ '{{- end}}' }}
{{ '{{- end}}' }}
