{%- for item in groups[ww4_nodes_group_name] %}
{{item}}{{ww4_node_suffix}}:
{% if hostvars[item|quote].ww4_node_container is defined %}
  container name: {{hostvars[item|quote].ww4_node_container}}
{%endif%}
  profiles:
{% for profile_item in hostvars[item|quote].ww4_node_profile.split(',') %}
  - {{profile_item}}
{%endfor%}
  network devices:
    default:
      hwaddr: {{hostvars[item|quote].ww4_node_hwaddr}}
      ipaddr: {{hostvars[item|quote].ww4_node_ipaddr}}
{% if hostvars[item|quote].ib_ip_addr is defined %}
    ib:
      ipaddr: 10.11.101.10
{%endif%}

{%endfor%}